.dashbuttons {
  margin-top: 2.5em;
  margin-left: 2.5em;
  width: fit-content;
}

.profile-image {
  display: flex;
  float: right;
  margin-right: 10em;
  right: -100px;
  right: 300em;
  height: 200px;
  width: 200px;
  padding: 2em;
}
table {
  height: 2em;
  width: 100%;
  overflow-y: auto;
}
.current-requests {
  overflow: auto;
  width: 75%;
  justify-content: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.past-requests {
  overflow: auto;
  width: 75%;
  justify-content: center;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.table-child {
  height: 200px;
}
.rejected-class {
  background-color: darkred;
  color: white;
}
.accepted-class {
  background-color: darkgreen;
  color: white !important;
}

.mat-header-cell {
  background-color: darkslateblue;
  color: white;
}

.mat-cell {
  color: white;
}

.pending-requests {
  background-color: darkslategrey;
}
